html, body {
  height: 100%;
  width: 100%;
  color: #333;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .nav-link {
    font-size: 1.1em !important;
  }

  .social a {
    font-size: 4.5em;
    padding: 3rem;
    }

    .padding {
      padding-bottom: 2rem;
    }

    .fa-github-square {
      color: #333;
    }

    .fa-linkedin {
      color: #333;
    }

    .display-4 {
      font-size: 200%;
    }

    .card-img-top {
      background-image: url(images/dogs1.jpg);

    }

    .a {
      color: #808080;
    }

    .a:visited {
      color: #808080;
    }
   
  